.aiprop-chat-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aiprop-chat-airesponse-container {
  min-width: 70rem;
  min-height: 70vh;
  border-radius: 1rem;
  background-color: #75654f;
  padding: 2rem;
}

.aiprop-chat-title-container {
  margin-bottom: 3rem;
}

.aiprop-chat-userprompt-container {
  min-width: 50rem;
  min-height: 10vh;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 2rem;
}
