.aiprop-chat-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aiprop-chat-airesponse-container {
  min-width: 70rem;
  min-height: 70vh;
  border-radius: 1rem;
  background-color: #75654f;
  padding: 2rem;
}

.aiprop-chat-title-container {
  margin-bottom: 1em;
}

.aiprop-chat-exquestions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.aiprop-chat-userprompt-container {
  min-width: 50rem;
  min-height: 10vh;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 2rem;
}

.aiprop-chat-questions-modal {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: #030c26;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 60%;
  border: 2px solid #7063bf;
  padding: 1rem;
}
